班級：資工三乙      學號：B08170067     姓名：古宇恆

# 程式設計 作業 7.1

## 一 利用 list 或是 dict 建立 一個 dataframe

In [1]:
import pandas as pd
df = pd.DataFrame({
    "name": ["Bob", "Ben", "Mary", "John"],
    "ch": [90, 80, 85, 70],
    "en": [91, 81, 86, 71],
    "ma": [92, 82, 87, 72], })

## 二  增加 一個欄位  總分

In [2]:
df['totle'] = df.sum(axis=1)

/var/folders/hk/4rr3lz8x5vxgx7z4sz_tcqzc0000gn/T/ipykernel_6903/1423681244.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df['totle'] = df.sum(axis=1)

## 三  將資料依照總分排序

In [3]:
df = df.sort_values('totle', ascending=False)
df = df.reset_index(drop=True)

## 四 將資料 寫到一個 CSV 檔

In [4]:
df.to_csv('tmp.csv', index=False)

## 五 讀入 CSV 檔  列印出來

In [5]:
print(pd.read_csv('tmp.csv'))

   name  ch  en  ma  totle
0   Bob  90  91  92    273
1  Mary  85  86  87    258
2   Ben  80  81  82    243
3  John  70  71  72    213